// Header styles
.videosHeader {
  position: relative;
  display: flex;
  width: 98%;
  justify-content: space-between;
  // padding: 10px;
  box-sizing: border-box;
}

.complaintSubmitted {
  border: 1px solid rgb(201, 97, 97);
}

.complainNav {
  position: relative;

  & > div {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    height: 12px;

    & > div {
      top: 60px;
      left: 90px;
      height: 50px;
    }
  }
}

// Button styles
.videoButton {
  position: relative;
  width: fit-content;
  min-width: 30px;
  min-height: 32px;

  & button {
    background-color: transparent;
  }

  .joinCallIcon {
    fill: var(--dark);
    margin-right: 5px;
  }

  .endCallIcon {
    fill: rgb(201, 97, 97);
    stroke: rgb(201, 97, 97);
  }

  .openCloseChat {
    fill: var(--dark);
    stroke: var(--dark);
  }
}

.adminNav {
  display: flex;
}

.offchainBtn {
  margin: 3px 5px;
  padding: 1px 5px;
  display: flex;
  flex-direction: column;
}

.videoButton:hover,
.videoButton:active {
  .endCallIcon,
  .joinCallIcon,
  .openCloseChat {
    fill: white;
    stroke: white;
  }
}

.callButtonsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  // margin-top: -80px;

  & > button {
    width: 64px;
    height: 52px;
  }
}

@media (max-width: 768px) {
  .videosHeader {
    padding-top: 10px;
  }
}
