.booking {
  background-color: var(--bgColor);
  color: var(--text);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formBtn {
  margin-top: 20px;
  position: relative;
}

.formBtn:disabled {
  cursor:not-allowed;
}

.warningIndicator {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ef4444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  display: none;
  opacity: 0;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(239, 68, 68, 1);
  color: white;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: -45%;
    left: 50%;
    // transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(239, 68, 68, 1) transparent transparent transparent;
    transform: rotate(180deg);
  }
}

.formBtn:disabled:hover {
  .tooltip {
    display: flex;
    opacity: 1;
  }
}
