.cell {
  /* width: 35px; */
  padding: 0.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--dark); */
  border-radius: 5px;
  color: var(--textColor);
  position: relative;
}

.hasAppointment {
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--darkest);
  border-radius: 20px;
  bottom: 4px;
}

.specHasFreeTimeslot {
  background-color: lightblue;
  cursor: pointer;
}

.specHasFreeTimeslot:hover {
  color: var(--bgColor);
  background-color: var(--dark);
}

.cell:active {
  background-color: var(--darkest);
}

.selected {
  color: var(--text);
  background-color: var(--darker);
}

.disabled {
  pointer-events: none; /* Disable pointer events for the cell */
  opacity: 0.5; /* Apply an opacity to indicate that it's disabled */
  color: grey;
}
