.localeOptionActive {
  display: block;
  opacity: 1;
  color: var(--dark);
}

.bold {
  font-weight: bold;
}


.label {
  cursor: pointer;
  font-weight: bold;
  color: var(--dark);

  &:hover,
  &:active {
    color: var(--darker);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: -100vw;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);


  &_title {
    margin: 0;
    color: var(--dark);
  }
}

.modalContent {
  background: var(--bgColor);
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}


.localeList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.localeOption {
  cursor: pointer;
  color: var(--dark);

  &:hover,
  &:active {
    color: #ba006d;
  }
}

.localeOptionActive {
  color: var(--dark);
}

.bold {
  font-weight: bold;
}

.closeButton {
  border: none;
  text-decoration: none;
  background: transparent;
  cursor: pointer;

  color: var(--dark);

  &:hover,
  &:active {
    color: #ba006d;
  }
}

.modalContent {
  animation: fadeInScale 0.25s ease;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
