.sidebar {
  width: 100%;
  height: 100vh;
  background: white;
  display: block;
  overflow-y: auto;
  width: 300px;
  overflow-y: hidden;
}

.sidebarInner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem 1.5rem; // py-6 px-6
  gap: 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: normal;
}

.blue {
  color: #007bff;
}

.pink {
  color: #fcb6c1;
}

.black {
  color: #000;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navItem {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  text-decoration: none;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  svg {
    flex-shrink: 0;
  }
}

.navText {
  color: #161616;
  font-size: 21px;
  font-weight: 400;
  line-height: 150%;
  padding-top: 0.5rem;
}

.socials {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: auto;

  a {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
