.container {
  position: relative;
  color: var(--text-color);
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  height: 100%;

  &.first {
    justify-content: space-between;
  }
}

/* ========== FIRST WELCOME STYLES ========== */

.firstAccentLight,
.firstPrimaryLight {
  position: absolute;
  border-radius: 30%;
  opacity: 1;
  z-index: 1;
}

.firstAccentLight {
  filter: blur(var(--first-accent-light-blur));
  width: var(--first-accent-light-w);
  height: var(--first-accent-light-h);
  top: var(--first-accent-light-top);
  left: var(--first-accent-light-left);
  background: var(--first-accent-light-color);
  transform: rotate(var(--first-accent-light-rotate));

  @media (min-width: 1024px) {
    filter: blur(var(--first-accent-light-lg-blur));
    width: var(--first-accent-light-lg-w);
    height: var(--first-accent-light-lg-h);
    top: var(--first-accent-light-lg-top);
    left: var(--first-accent-light-lg-left);
    background: var(--first-accent-light-lg-color);
    transform: rotate(var(--first-accent-light-lg-rotate));
  }
}

.firstPrimaryLight {
  filter: blur(var(--first-primary-light-blur));
  width: var(--first-primary-light-w);
  height: var(--first-primary-light-h);
  top: var(--first-primary-light-top);
  left: var(--first-primary-light-left);
  background: var(--first-primary-light-color);
  transform: rotate(var(--first-primary-light-rotate));
  z-index: 0;

  @media (min-width: 1024px) {
    filter: blur(var(--first-primary-light-lg-blur));
    width: var(--first-primary-light-lg-w);
    height: var(--first-primary-light-lg-h);
    top: var(--first-primary-light-lg-top);
    left: var(--first-primary-light-lg-left);
    background: var(--first-primary-light-lg-color);
    transform: rotate(var(--first-primary-light-lg-rotate));
  }
}

.firstTextWrapper {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: left;

  h1 {
    font-size: 27px;
    font-weight: 700;

    @media (min-width: 1024px) {
      font-size: 36px;
      text-align: center;
    }
  }

  p {
    font-size: 16px;

    @media (min-width: 1024px) {
      font-size: 21px;
      text-align: center;
    }
  }
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.radioItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bold {
  font-weight: 700;
}

.chooseButton {
  z-index: 2;
  width: 100%;
  @media (min-width: 1024px) {
    width: auto;
    margin: 0 auto;
  }
}
