.section {
  margin: 10vh auto;
  box-sizing: border-box;
  padding: 3%;
  border-radius: 40px;
  width: 80%;
  background-color: var(--dark);

  box-shadow: 2px 2px 10px var(--boxShadow);
}

.title {
  color: var(--white);
  text-align: center;
  padding: 2vh;
}

.teamWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.hr {
  height: 3px;
  width: 3px;
  border: 1px solid var(--darkest);
  color: var(--darkest);
  background-color: var(--darkest);
}

.wrap {
  width: 30vh;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.name,
.text {
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.name {
  color: var(--bgColor);
  margin-bottom: 5px;
}

.role {
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: var(--darkest);
}

.text {
  font-size: 16px;
  color: var(--white);
}

.img {
  width: 20vw;
  height: 30vh;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 5px 5px var(--boxShadow);
}

.socialWrap {
  display: flex;
  align-items: center;
  gap: 30px;
}

.socialIcon {
  fill: var(--darkest);
}

.social:hover .socialIcon {
  fill: var(--white);

  transition: fill 0.3s ease;
}

@media (max-width: 830px) {
  .teamWrap {
    flex-direction: column;
  }

  .img {
    width: 40vw;
    height: 35vh;
  }
}

@media (max-width: 530px) {
  .img {
    width: 60vw;
    height: 40vh;
  }
}
