.walletContainer {
  display: flex;
  align-items: center;
  font-size: 0.875rem; /* Equivalent to text-sm in Tailwind */
  padding: 0.375rem 0.75rem; /* Equivalent to px-3 py-1.5 in Tailwind */
  // background-color: #f3f4f6; /* Equivalent to bg-lighter-gray */
  background-color: var(--walletBg);
  cursor: pointer;
  border-radius: 0.5rem; /* Equivalent to rounded-lg */
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--dark); /* Equivalent to hover:bg-fadedBlue */
  }

  @media (prefers-color-scheme: dark) {
    background-color: #000; /* Equivalent to dark:bg-black */

    &:hover {
      background-color: #5f9ea0; /* Equivalent to dark:hover:bg-fadedTurqoise */
    }
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  border-radius: 50%; /* Equivalent to rounded-full */
  padding: 0.5rem; /* Equivalent to p-2 in Tailwind */
}

.walletIcon {
  width: 1.5rem; /* Equivalent to w-6 in Tailwind */
}

.walletName {
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 0.75rem;
  color: var(--textColor);
}

.spinnerContainer {
  margin-left: 1rem; /* Equivalent to ml-4 in Tailwind */
}
