.container {
  padding: 30px 10vw 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hr {
  color: var(--dark);
  height: 1px;
  width: 100%;
}

.psy_session {
  margin-top: 3%;
  cursor: pointer;
  color: var(--text);
  align-self: flex-end;
  font-size: 16px;
}

.psy_session:hover {
  color: var(--dark);
}

.jpgstore {
  padding: 15px 20px;
  margin: 20px 0 10px;
  font-size: 18px;
  background-color: var(--bgColor);
  border: none;
  border-radius: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  // color: var(--text);
  color: var(--textColor);

  text-decoration: none;
  align-self: flex-end;
  max-width: 270px;
}
.jpgstore:hover {
  background-color: var(--dark);
  color: var(--bgColor);
  outline: 1px solid var(--bgColor);
}

.h1 {
  text-align: center;
  margin: 1vh 0;
  /* font-size: 54px; */
  color: var(--darker);
}

.u_items {
  display: grid;
  row-gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  align-items: center;
  justify-items: center;

  grid-template-areas:
    "row1 man_01"
    "man_02 row2";
}

.s1 {
  margin: 0 0 15vh;
  padding: 0;
  border-radius: 40px;
  width: 80%;
  height: 60vh;
  background-color: var(--dark);
  box-shadow: 2px 2px 10px var(--boxShadow);

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  align-self: left;
  color: var(--white);
  margin-bottom: 10px;
  /* font-family: "Kamalla Demo Med"; */
}

.h3 {
  margin: 1vh 0;
  font-weight: 400;
  line-height: 1.5;
  text-align: end;
  font-style: italic;
  color: var(--white);
}

.main_text_wrap {
  padding: 5vw;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.vision_img {
  height: 60vh;
  border-radius: 40px;
}

.utility_block {
  width: 80%;
  margin: 0 0 15vh;
  padding: 5vh 0 10vh 0;
  border-radius: 40px;
  background-color: var(--dark);
  background-size: cover;
  box-shadow: 2px 2px 10px var(--boxShadow);
}

.utility_title {
  text-align: center;
  padding: 2vh;
  font-size: 2em;
  color: var(--white);
}

.utility_text {
  font-size: 1em;
  color: var(--textColor);
  line-height: 1.5;
}
.u_item {
  width: 80%;
  border-radius: 20px;
  display: flex;

  padding: 20px;
  background: var(--bgColor);

  position: relative;
}

.u_row1 {
  grid-area: row1;
}

.man_01 {
  grid-area: man_01;
}

.u_row2 {
  grid-area: row2;
}

.man_02 {
  grid-area: man_02;
}

.u_inner_title {
  font-size: 1.3em;
  color: var(--textColor);
  margin-top: 40px;
}

.u_number {
  position: absolute;
  top: -20px;
  left: -20px;

  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 6em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #d3d6d0, 1px 2px 1px #d3d6d0, 1px 3px 1px #d3d6d0,
    1px 4px 1px #d3d6d0, 1px 5px 1px #d3d6d0, 1px 6px 1px #d3d6d0,
    1px 7px 1px #d3d6d0, 1px 8px 1px #d3d6d0, 1px 9px 1px #d3d6d0,
    1px 10px 1px #d3d6d0, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.man_01,
.man_02 {
  width: 60%;
  border-radius: 20px;
  height: auto;
}

@media (max-width: 1200px) {
  .s1 {
    width: 100%;
    height: fit-content;
  }
  .utility_block {
    width: 100%;
  }
  .vision_img {
    width: 40vw;
    border-radius: 40px;
    height: auto;
  }
}

@media (max-width: 790px) {
  .s1 {
    width: 60vw;
    height: fit-content;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .vision_img {
    width: 50vw;
  }

  .utility_block {
    width: 60vw;
    margin: 0 0 15vh;
    padding: 5vh 0 10vh 0;
    border-radius: 40px;
    background-color: var(--dark);
    background-size: cover;
    box-shadow: 2px 2px 10px var(--boxShadow);
  }

  .u_items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    grid-template-areas:
      "man_01"
      "row1"
      "man_02"
      "row2";
  }
  .h1 {
    font-size: 3em;
  }
  .h4 {
    font-size: 1.2em;
  }
  .utility_item,
  .jpgstore {
    font-size: 1em;
    width: max-content;
    text-align: center;
  }

  .man_02,
  .man_01 {
    width: 250px;
  }

  .man_02 {
    margin-top: 50px;
  }
}

@media (max-width: 640px) {
  .s1 {
    width: 75vw;
  }
  .vision_img {
    width: 65vw;
  }
  .utility_block {
    width: 75vw;
  }
}
