.messageBox {
  max-height: 70vh;
  height: 100%;
  margin: 10px 0;
  display: block;
  overflow-y: auto;
  padding: 15px 0px;
  max-width: 100%;
  min-width: 330px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}
