.date_picker {
  /* margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.selectedDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectDay {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 3px;
  border: 1px solid var(--dark);
  border-radius: 10px;
  text-align: center;
  color: var(--textColor);
}

.selectDay:hover {
  color: var(--bgColor);
  background-color: var(--dark);
}

.selected {
  color: var(--bgColor);
  background-color: var(--dark);
}
