.step {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  position: relative;

  & label {
    color: var(--textColor);
    margin-top: 20px;
  }
}

.diplomaWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.errorText {
  color: red;
}

.formStepH {
  position: absolute;
  top: -30px;
  right: -10px;
  margin: 0;
  color: #c2c2c2;
  font-size: 2.2em;
  font-weight: 800;
}

.headerS1 {
  color: var(--textColor);
}

.subTitleS1 {
  color: var(--textColor);
}

.imageContainer {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  margin: 1.5rem 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #777;
}

.diplomaHours {
  font-size: 0.9em;
  color: var(--textColor);
}

.diplomaYear {
  font-size: 0.9em;
  color: var(--textColor);
}

.inputCertificates {
}

.previewDoc {
  height: 25vh;
  background-color: var(--bgColor);
  border: 1px solid var(--dark);
  border-radius: 20px;
  object-fit: cover;
}

.previewGrid {
  height: 40vh;
  overflow-y: auto;
}

.certificateItemBox {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--darker);
  display: flex;
}

.certificateIndex {
  font-weight: 600;
  font-size: 20px;
  margin-right: 5px;
}

.certificateDetails {
  display: flex;
}

.certImageContainer {
  width: 100%;
  height: 200px;
  background-color: #f5f5f5;
  margin: 0.5rem 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #777;
}

.certImgHours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.certificateContainer {
  height: 50vh;
  overflow-y: scroll;
}

.certItem {
  display: flex;
}

.therapistContainer {
  max-height: 40vh;
  overflow-y: auto;
  margin-bottom: 20px;
}

.hoursDiploma {
  margin: 5px 0;
}

.therapist {
  /* margin: 5px; */
  padding: 25px 0;
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
  display: flex;
  align-items: center;

}

.therapistDetails {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.docWrapper {
  display: flex;
  align-items: center;
}

.docIndex {
  padding: 10px;
  font-size: 50px;
  font-weight: 800;
  color: #c2c2c2;
}

.therapistIndex {
  padding: 10px;
  font-size: 50px;
  font-weight: 800;
  color: #c2c2c2;
}

.fromTo {
  margin: 10px 0;
  display: flex;
}

.textarea {
  padding: 10px;
  border: 1px solid var(--dark);
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.addButton {
  padding: 4px;
}

.deleteBtn {
  width: 70px;
  height: 70px;
  margin: 10px;
}
