.previewContainer {
  position: absolute;
  inset: 0;
  background-color: var(--bgColor);
  border-radius: 50px;
  z-index: 30;

  .header {
    color: var(--textColor);
    margin: 0;
  }

  .write {
    height: 20vh;
    border-radius: 4px;
  }

  .size {
    margin: 2rem auto;
    width: 90%;
    max-width: 1200px;

    .closeIcon {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 2rem;
      cursor: pointer;
    }

    .contentContainer {
      // margin-top: 8rem;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      @media (min-width: 768px) {
        flex-direction: row;
      }
      @media (max-width: 660px) {
        gap: 1rem;
      }

      .storyPreview {
        flex: 1;
        margin-right: 2px;

        h3 {
          font-size: 1.5rem;
        }

        .imageContainer {
          width: 100%;
          height: 200px;
          background-color: #f5f5f5;
          margin: 1.5rem 0;
          display: grid;
          place-items: center;
          cursor: pointer;
          background-size: cover;
          background-position: center;

          @media (max-width: 660px) {
            height: 150px;
          }
        }

        .titleInput {
          width: 100%;
          border: none;
          // border-bottom: 1px solid #ccc;
          padding: 0.5rem;
          font-size: 20px;
          outline: none;
          background-color: var(--bgColor);
        }

        .note {
          color: #6b7280;
          padding-top: 1rem;
          font-size: 0.875rem;

          .noteBold {
            font-weight: bold;
          }

          @media (max-width: 660px) {
            padding-top: 0px;
          }
        }
      }

      .publishingInfo {
        margin-left: 2px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .publishHeading {
          font-size: 1.25rem;
          font-weight: 300;

          .publishName {
            font-weight: bold;
            text-transform: capitalize;
          }

          @media (max-width: 660px) {
            margin: 0px;
            font-size: 1rem;
          }
        }

        .publishButton {
          background-color: #065f46;
          color: #fff;
          padding: 0.5rem 1.5rem;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #064e3b;
          }
        }

        @media (max-width: 660px) {
          gap: 0px;
        }
      }
    }

  }
}
