.titleWrapper {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--bgColor);
}

.psyItemsWrapper {
  margin: 40px 0 50px;
}

.header {
  text-align: center;
  font-size: 2.2em;
  color: var(--dark);
}

.subHeader {
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  color: var(--dark);
}

.psyItem {
  width: 45%;
  margin: 0% 0% 5% 0%;
  padding: 5%;
  border-radius: 35px 35px 35px 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);

  & p {
    color: var(--textColor);
  }
}

.evenMargin {
  margin-left: 45%;
  margin-right: 0;
  border-radius: 35px 35px 5px 35px;
}

.itemTitle {
  font-size: 1.2rem;
  color: var(--textColor);
  text-align: center;
}

@media (max-width: 760px) {
  .header {
    font-size: 2em;
  }
  .subHeader {
    font-size: 1.4em;
  }
}

@media (max-width: 560px) {
  .header {
    font-size: 1.4em;
  }
  .subHeader {
    font-size: 1em;
  }

  .psyItem {
    min-width: 70%;
  }
  .evenMargin {
    margin-left: 25%;
    margin-right: 0;
    border-radius: 35px 35px 5px 35px;
  }
}
