.walletDrawer {
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  background-color: var(--bgColor);
  color: var(--textColor);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 150;
  padding: 2rem;
  border-left: 4px solid var(--dark);
  &.show {
    right: 0;
  }
  &.hidden {
    right: -100%;
  }
}

.header {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.titleWrapper {
  display: flex;

  .walletIcon {
    font-size: 1.25rem;
    color: var(--walletPrimary); // Primary color
    padding-right: 10px;
  }
}

.walletList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0 2rem;
}

.separator {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.connector {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  // cursor: pointer;
  &:hover {
    background-color: #e0e0e0;
  }
  .connectorIcon {
    padding: 0.5rem;
    img.connectorImage {
      width: 1.5rem;
    }
  }
  .connectorText {
    font-weight: bold;
    margin-left: 0.5rem;
  }
}

.spinner {
  margin-left: 1rem;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.nautilusBtn {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  background-color: var(--walletBg);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  &:hover {
    background-color: var(--dark); /* Equivalent to hover:bg-fadedBlue */
  }
}

.ergoIcon {
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
}

.walletName {
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 0.75rem;
  color: var(--textColor);
}

.ergoButton {
  display: flex;
  align-items: center;
}
