.specialistCard {
  background-color: var(--dark);
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.specialistInfoLeft,
.specialistInfoRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nickname {
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.rank,
.timeZone,
.professionSince {
  color: var(--white);
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.rank,
.professionSince {
  text-align: left;
}

.timeZone {
  text-align: end;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.goToProfileBtn {
  font-size: 13px !important;
  padding: 5px 10px;
}
