@font-face {
  font-family: "Kamalla Demo Med";
  src: url("./../../shared/assets/fonts/KamallaDemo-Medium.woff") format("woff"),
    url("./../../shared/assets/fonts/KamallaDemo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.header {
  align-items: center;
  background: var(--bgColor);

  border-bottom: 4px solid var(--dark);
  border-radius: 0 0 40px 40px;
  height: 60px;
  justify-content: space-between;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 50;
}

.wrapper {
  padding: 4px 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoPng {
  width: 50px;
  height: 50px;
}

.logoTitle {
  margin-left: 5px;
  font-size: 2em;
  font-family: "Kamalla Demo Med";
  color: #377b78;
}

.noToken {
  position: absolute;
  top: 39px;
  background-color: #9fc6bf;
  padding: 5px 15px;
  border-radius: 3px;
  text-align: center;
  color: var(--darkest);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-fill-available;

  &_cursor {
    cursor: pointer;
  }
}

.networkPicker {
  display: flex;
}

.affiliate {
  cursor: pointer;
}

.affiliate:hover {
  color: brown;
}

.networkList {
  display: flex;
  flex-direction: column;
}

.blockchainBox {
  display: flex;
}

.menuGeneral {
  display: flex;
  align-items: center;
}

.menuItem {
  margin: 0 5px;
  // border-bottom: 3px solid var(--bgColor);
  border-radius: 8px;
  display: flex;
  cursor: pointer;
}

.menuItem:hover {
  // border-bottom: 3px solid var(--dark);
  border-radius: 8px;
}

.authOptions {
  display: flex;
  align-items: center;
}

.avatarNav {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.unreadBadge {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}
.menuItem {
  position: relative; /* so badge is positioned relative to icon */
}

.supportChat {
  padding: 0 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// DO NOT DELETE!!!
.email_name {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid var(--darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginLink {
  text-decoration: none;
  color: var(--darker);

  &:hover {
    color: var(--darkest);
  }
}

@media (max-width: 830px) {
  .bookSessionCircle {
    width: 70px;
    height: 70px;
    border: 2px solid var(--dark);
    font-size: 12px;
    right: 10px;
  }
}

@media (max-width: 740px) {
  .bookSessionCircle {
    top: 76vh;
    right: 10px;
  }
}

@media (max-width: 620px) {
  .bookSessionCircle {
    display: none;
  }
  .displayNone {
    display: none;
  }
  .menuItem {
    margin: 0;
  }
}
