.title {
  margin-bottom: 30px;
  text-align: center;
  /* font-family: "Kamalla Demo Med"; */
  color: var(--bgColor);
}

.rank_why {
  color: var(--bgColor);
}

.beltsList {
  color: var(--bgColor);
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.beltsItem {
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--bgColor);
  /* background-color: var(--bgColor); */
}

.beltImg {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}

.beltTitle {
  margin: 0;
  margin-bottom: 20px;
  /* font-family: "Kamalla Demo Med"; */
  color: var(--bgColor);
}

.text {
  margin: 0;
}

@media (max-width: 510px) {
  .beltsList {
    color: var(--bgColor);
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
