.page {
  width: 100vw;
  min-height: 100vh;
  background: url("./../../shared/assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main {
  position: relative;
  flex: 1;
  padding: 24px 20px 0px;
}

.container {
  position: relative;
  color: var(--text-color);
  font-family: var(--font-sans);

  padding: 1.5rem 19px 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  height: 100%;

  // @media (min-width: 1024px) {
  //   padding: 0;
  //   flex-direction: row;
  //   align-items: center;
  // }
}

.searchBox_wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 250px;
}

.searchBtn {
  font-size: 13px !important;
  padding: 8px 10px;
  width: 20%;
  cursor: pointer;
  background-color: var(--bgColor);
  border: 1px solid var(--dark);
  color: var(--dark);
  border-radius: 10px;
  transition-duration: 0.3s;
}

.searchBtn:hover {
  color: var(--bgColor);
  background: var(--darker);
  border: 1px solid var(--darker);
}

.searchInput {
  margin: 0;
}

.specialistList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-top: 32px;

  @media (min-width: 768px) {
    gap: 32px;
  }
}
