.sidebar_item {
  height: 20px;
  text-align: left;
  padding: 5px 8px;
  cursor: pointer;
  border: 1px solid rgb(143, 189, 143, 0);
  border-radius: 5px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.3s ease;
}

.sidebar_icon {
  width: 17px;
  height: 17px;
  fill: var(--dark);
  cursor: pointer;
}

.stroke {
  stroke: var(--dark);
}

.fill {
  fill: var(--dark);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  color: var(--textColor);
  cursor: pointer;
}

/* Tooltip text */
.tooltipText {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -100%;
  /* left: 50%; */
  transform: translateX(-50%);
  background-color: var(--dark);
  color: var(--bgColor);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
  white-space: nowrap;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show tooltip on hover */
.sidebar_item:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.sidebar_only_icon {
  text-align: center;
}

.narrowItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_text {
  padding-left: 10px;
}

.narrowText {
  display: none;
  transition: all 1s 1s;
}

.active {
  /* color: var(--bgColor);
    background-color: var(--darker); */
  /* border-right: 10px solid var(--dark); */
  /* border-left: 5px solid var(--dark); */
  /* border: 1px solid var(--darkest); */
}
