.page {
  margin: 5vh 10vw;
  padding: 20px;
  border-radius: 40px;
  background-color: var(--dark);
}

.main_button {
  width: 100%;
  padding: 15px 20px;
  margin: 20px 0 10px;
  font-size: 18px;
  background-color: var(--darker);
  border: 1px solid var(--dark);
  border-radius: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
}
