.dayRow {
  padding: 2px;
  color: grey;
  border-bottom: 1px solid var(--darkTransparent);
  font-weight: 100;
  cursor: pointer;

  display: flex;
}

.dayRowWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dayRowBtn {
  width: 30px;
  height: 30px;

  margin: 2px;
  padding: 0;
}

.dayRowBtnCancel {
  width: 30px;
  height: 30px;

  margin: 2px;
  padding: 0;
}

.smallHour {
  padding: 2px;
  font-size: 10px;
}

.openForWork {
  color: #000;
  /* color: var(--bgColor); */
  background-color: lightblue;
  /* background-color: var(--dark); */
  border-radius: 5px;
  /* border-bottom: 1px solid var(--bgColor); */
}

.openText {
  padding-left: 7%;
}

.dayRow:hover {
  color: var(--bgColor);
  background-color: var(--darker);
}

.dayRow:active {
  background-color: var(--darkest);
}

.busy {
  color: grey;
  background-color: none;
  cursor: auto;
}

.busy:hover {
  color: grey;
  background-color: var(--bgColor);
}

.isPastHour {
  opacity: 0.5;
  cursor: default;
}

.psyRequest {
  font-weight: 500;
  color: var(--bgColor);
  background-color: var(--darker);
  cursor: default;
}

.psyRequest:hover {
  /* color: var(--text);
  background-color: var(--bgColor); */
}

.subject {
  padding-left: 5%;
  font-weight: 500;
  color: var(--bgColor);
  font-size: 14px;
}
