.page {
  width: 100vw;
  min-height: 100vh;
  background: url("./../../../shared/assets//img/bg.png");
  // ./../../shared/assets/img/bg.png
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main {
  position: relative;
  flex: 1;
  padding: 24px 20px 0px;
}

.container {
  position: relative;
  color: var(--text-color);
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  height: 100%;
}

.timeTable {
  position: relative;
  min-height: 55vh;
  display: flex;
  justify-content: space-between;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-columns: 1fr .75fr; */
  gap: 20px;
}

.rightColumn {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.rightRightColumn {
  width: 100%;
  position: relative;
}

.welcomeText {
  display: flex;
  flex-direction: column;
}

.saveBtn {
  color: var(--bgColor);
  background-color: var(--dark);
  width: 240px;
  height: 36px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin: 16px auto;
  display: block;
  &:hover {
    background-color: var(--darker);
  }
}

.disabled {
  /* Your styles for the disabled state */
  cursor: default;
  opacity: 0.6;
}

.disabled:hover {
  color: inherit;
  background-color: var(--dark);
}

@media (max-width: 830px) {
  .timeTable {
    flex-direction: column;
    align-items: center;
  }

  .saveBtn {
    width: 100%;
    max-width: 400px;
    height: 40px;
    border: 3px solid var(--dark);
    font-size: 12px;
  }
}
