.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.helpItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--bgColor);
}

.helpItem {
  background-color: var(--bgColor);
  padding: 15px;
  margin: 1px;
  border: 1px solid var(--dark);
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  color: var(--textColor);
}

.helpItem:hover {
  color: var(--bgColor);
  background-color: var(--dark);
}

.helpItem:active {
  color: var(--bgColor);
  background-color: var(--darkest);
}

.selected {
  color: var(--bgColor);
  background-color: var(--darker);
}

.input {
  border: 1px solid var(--dark);
  /* border-radius: 10px; */
}
