.substrate {
  width: 60vw;
  padding: 50px;
  border-radius: 40px;
  box-shadow: 2px 2px 10px var(--boxShadow);
}

.base {
  background-color: var(--dark);
}

.bg-color {
  background-color: var(--bgColor);
}

.transparent {
  background-color: var(--darkTransparent);
}

.fixed_landing {
  width: 420px;
}

.auth_form {
  width: 30vw;
}

@media (max-width: 1400px) {
  .substrate {
    width: 70vw;
    padding: 35px;
    border-radius: 40px;
    box-shadow: 2px 2px 10px var(--boxShadow);
  }
}

@media (max-width: 850px) {
  .substrate {
    width: 70vw;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 2px 2px 10px var(--boxShadow);
  }
}

@media (max-width: 460px) {
  .substrate {
    width: 80vw;
    border-radius: 40px;
    box-shadow: 2px 2px 10px var(--boxShadow);
  }
}
