.wrap {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  background-color: var(--bgColor);
  border: 1px solid var(--dark);
  position: relative;
}

.headList {
  margin: 0;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  color: var(--dark);
}

.headItem {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  gap: 5px;
}

@media (max-width: 510px) {
  .headItem {
    font-size: 10px;
  }
}
