@font-face {
  font-family: "Kamalla Demo Med";
  src: url("./../../../shared/assets/fonts/KamallaDemo-Medium.woff")
      format("woff"),
    url("./../../../shared/assets/fonts/KamallaDemo-Medium.woff2")
      format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.page {
  max-width: 1315px;
  margin: 0 auto;
  width: 100%;
}

.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  min-height: calc(100vh - 60px);

  @media (max-width: 640px) {
    padding: 0 10px;
  }
}

.main {
  width: 90%;
  margin: 20vh 0 0 20vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
  box-sizing: border-box;
}

.h4 {
  font-size: 20px;
  margin: 1vh 0;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
  color: var(--bgColor);
  color: var(--darker);
}

.h1 {
  text-align: center;
  margin: 1vh 0;
  letter-spacing: -1px;
  font-size: 60px;
  font-family: "Kamalla Demo Med";
  color: var(--darker);
}

.main_message {
  max-width: 420px;
  width: 100%;
  border-radius: 20px;
  padding: 2%;
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 10px var(--boxShadow);
}

.main_btn {
  color: var(--textColor);
  background: var(--bgColor);
  border: 1px solid var(--dark);
  outline: none;
}

.loginWithGoogle {
  margin-bottom: 10px;
}

.message_h6 {
  color: var(--textColor);
  font-size: 12px;
  text-align: center;
  margin: 1vh;
}

.psychologist {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 25px;
  z-index: 1;
  color: var(--textColor);

  background-color: var(--bgColor);
  box-shadow: 2px 2px 10px var(--boxShadow);
  text-decoration: none;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .h1 {
    font-size: 3.4rem;
  }
}

@media (max-width: 650px) {
  .h4 {
    font-size: 1.2em;
  }
  .psychologist {
    font-size: 0.8em;
  }
  .main {
    margin: 20vh auto;
    max-width: 350px;
  }
}

@media (max-width: 510px) {
  .h1 {
    font-size: 2.2rem;
  }
  .h4 {
    font-size: 0.8em;
  }
  .message_h6 {
    font-size: 9px;
  }
  .psychologist {
    display: none;
  }
}
