.viewSwitch {
  position: absolute;
  top: 100px;
}

.switcherItem {
  padding: 2px 0px;
  cursor: pointer;
  /* border-radius: 5px; */
  margin-right: 5px;
}

.switcherItem:hover {
  /* color: var(--bgColor);
  background-color: var(--dark); */
}

.switcherItem:active {
  /* color: var(--bgColor);
  background-color: var(--darkest); */
}

.page {
  width: 100vw;
  min-height: 100vh;
  background: url("./../../shared/assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main {
  position: relative;
  flex: 1;
  padding: 24px 20px 0px;
}

.container {
  position: relative;
  color: var(--text-color);
  font-family: var(--font-sans);

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  height: 100%;
}

.timeTable {
  position: relative;
  min-height: 55vh;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; // in case screen is too narrow
}

.leftColumn,
.rightColumn {
  flex: 0 0 48%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1130px) {
  .userboard {
    width: 70vw;
  }
}

@media (max-width: 830px) {
  .userboard {
    width: 75vw;
    padding: 25px;
  }
  .viewSwitch {
    top: 82px;
  }
  .timeTable {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 750px) {
}

@media (max-width: 700px) {
  .userboardPage {
    align-items: flex-end;
  }

  .userboard {
    padding: 20px;
  }
}
