// .sidebar {
//   height: 100vh;
//   /* top: 70px; */
//   border-right: 4px solid var(--dark);
//   border-radius: 0 40px 40px 0;
//   position: fixed;
//   z-index: 10;
//   background: var(--bgColorTransparent);
//   backdrop-filter: blur(4px);
//   transition: all 0.1s ease;
// }

// .basicMenuIcon {
//   text-align: center;
//   cursor: pointer;
//   color: var(--darker);
//   padding: 5px 16px;
//   border-radius: 5px;
// }

// .basicMenuIcon:hover {
//   color: var(--bgColor);
//   background-color: var(--darker);
// }

// .separator {
//   margin: 0 auto;
//   text-align: center;
//   color: var(--darker);
// }

// .settingAndMedia {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .iconContainer {
//   height: 20px;
//   text-align: left;
//   padding: 5px 20px;
//   cursor: pointer;
//   border: 1px solid rgb(143, 189, 143, 0);
//   border-radius: 5px;
//   transition-duration: 0.3s;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   position: relative;

//   .twitter,
//   .discord,
//   .telegram {
//     fill: var(--dark);
//     cursor: pointer;
//     &:hover {
//       fill: var(--text);
//       color: var(--bgColor);
//       background-color: var(--darker);
//       padding: 5px 0px;
//       width: 48px;
//       border-radius: 5px;
//     }
//   }
// }

// .sidenav {
//   height: 85%;
//   margin: 80px 0 0 0;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

// .guest {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   gap: 2px;
// }

// .sidebarItemWrap {
//   width: 80%;
//   border-radius: 5px;
//   color: var(--textColor);
//   /* position: relative; */
// }

// .sidebarItemWrap:hover {
//   color: var(--bgColor);
//   background-color: var(--dark);
//   border-radius: 5px;
// }

// .sidebarItemWrap:hover .sidebarIcon {
//   fill: var(--bgColor);
// }

// .sidebarItemWrap_active .sidebarIcon {
//   fill: var(--bgColor);
// }

// .sidebarIcon {
//   width: 17px;
//   height: 17px;
//   fill: var(--dark);
// }

// .requestsIcon {
//   width: 24px;
//   height: 24px;
// }

// .dashboardIcon {
//   width: 22px;
//   height: 22px;
// }

// .switchersWrap {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   gap: 10px;

//   // & > div {
//   //   flex: 1 1 100%;
//   //   box-sizing: border-box;
//   //   cursor: pointer;
//   //   color: var(--dark);
//   //   &:hover {
//   //     color: var(--bgColor);
//   //     background: var(--dark);
//   //     border: 1px solid var(--dark);
//   //     transition-duration: 0.3s;
//   //   }
//   // }

//   // & > button {
//   //   background-color: transparent;
//   //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//   // }
// }

// .column {
//   flex-direction: column;
// }

// .arrowIcon {
//   transform: rotate(180deg);
// }

// .arrowIcon,
// .reverseArrowIcon {
//   fill: var(--dark);
//   z-index: 10;
// }

// .arrowIcon:hover,
// .reverseArrowIcon:hover {
//   fill: #ffffff;
// }

// .auth {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .controls {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   justify-content: space-evenly;
//   align-items: center;
// }

// .socialmedia {
//   margin: 15px 0;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   align-items: center;
// }

// .vertical {
//   flex-direction: column;
//   gap: 2px;
// }

// .toggle {
//   width: 50px;
//   height: 50px;
//   background-color: var(--bgColor);
//   border: 4px solid var(--dark);
//   border-radius: 40px;
//   position: absolute;
//   right: -50px;
//   bottom: 90px;

//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
//   transition: 0.3s ease;
//   z-index: 100;
// }

// .toggle:hover {
//   background-color: var(--darker);
//   border: 4px solid var(--darker);
// }

// .toggle:hover .arrowIcon,
// .toggle:hover .reverseArrowIcon {
//   fill: var(--bgColor);
// }

// @media (max-width: 640px) {
//   .toggle {
//     width: 50px;
//     height: 50px;
//     right: -30px;
//     background-color: var(--bgColor);
//     border: 2px solid var(--dark);
//   }
//   .sidebar {
//     display: none;
//   }
// }

// @media (max-width: 500px) {
//   // .sidebar {
//   //   width: 50px;
//   // }
// }


/* Unified Sidebar Styles */

.sidebar {
  height: 100vh;
  width: 250px;
  border-right: 4px solid var(--dark);
  border-radius: 0 40px 40px 0;
  position: fixed;
  z-index: 10;
  background: var(--bgColorTransparent);
  backdrop-filter: blur(4px);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

  &.closed {
    transform: translateX(-100%);
  }

  &.open {
    transform: translateX(0);
  }
}

.basicMenuIcon {
  text-align: center;
  cursor: pointer;
  color: var(--darker);
  padding: 5px 16px;
  border-radius: 5px;
}

.basicMenuIcon:hover {
  color: var(--bgColor);
  background-color: var(--darker);
}

.separator {
  margin: 0 auto;
  text-align: center;
  color: var(--darker);
}

.settingAndMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  height: 20px;
  text-align: left;
  padding: 5px 20px;
  cursor: pointer;
  border: 1px solid rgb(143, 189, 143, 0);
  border-radius: 5px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .twitter,
  .discord,
  .telegram {
    fill: var(--dark);
    cursor: pointer;
    &:hover {
      fill: var(--text);
      color: var(--bgColor);
      background-color: var(--darker);
      padding: 5px 0px;
      width: 48px;
      border-radius: 5px;
    }
  }
}

.sidenav {
  height: 85%;
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.sidebarItemWrap {
  width: 80%;
  border-radius: 5px;
  color: var(--textColor);
}

.sidebarItemWrap:hover {
  color: var(--bgColor);
  background-color: var(--dark);
  border-radius: 5px;
}

.sidebarItemWrap:hover .sidebarIcon {
  fill: var(--bgColor);
}

.sidebarItemWrap_active .sidebarIcon {
  fill: var(--bgColor);
}

.sidebarIcon {
  width: 17px;
  height: 17px;
  fill: var(--dark);
}

.requestsIcon {
  width: 24px;
  height: 24px;
}

.dashboardIcon {
  width: 22px;
  height: 22px;
}

.switchersWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.column {
  flex-direction: column;
}

.arrowIcon {
  transform: rotate(180deg);
}

.arrowIcon,
.reverseArrowIcon {
  fill: var(--dark);
  z-index: 10;
}

.arrowIcon:hover,
.reverseArrowIcon:hover {
  fill: #ffffff;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.socialmedia {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vertical {
  flex-direction: column;
  gap: 2px;
}

.toggle {
  width: 50px;
  height: 50px;
  background-color: var(--bgColor);
  border: 4px solid var(--dark);
  border-radius: 40px;
  position: absolute;
  right: -50px;
  bottom: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 100;
}

.toggle:hover {
  background-color: var(--darker);
  border: 4px solid var(--darker);
}

.toggle:hover .arrowIcon,
.toggle:hover .reverseArrowIcon {
  fill: var(--bgColor);
}

@media (max-width: 640px) {
  .toggle {
    width: 50px;
    height: 50px;
    background-color: var(--bgColor);
    border: 2px solid var(--dark);
  }
  .sidebar {
    display: block;
  }
}
