// .createPostInput {
//   min-height: 200px;
//   height: 200px;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   color: var(--textColor);
// }

.page {
  margin: 0;
}

.createPostContainer {
  width: 70vw;

  .header {
    color: var(--textColor);
    margin: 0;
  }

  .titleInput {
    font-size: 2rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem 0;
    border-bottom: 2px solid #ccc;
    transition: border-color 0.3s;

    &:focus {
      border-color: var(--dark);
    }
  }

  .write {
    height: 40vh;
    margin: 2rem 0;
    // border: 1px solid #ddd;
    border-radius: 4px;
    // padding: 1rem;
    // background-color: #fff;

    p > img {
      max-width: 50%;;
    }
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .invisible {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
}

@media (max-width: 660px) {
  .createPostContainer {
    .titleInput {
      font-size: 16px;
    }
  }

}
