.whitePaper_width {
  width: 100vw;

  @media (max-width: 1200px) {
    width: 80vw;
  }
}

.whitePaper {
  padding: 50px;
  border-radius: 40px;
  box-shadow: 2px 2px 10px var(--boxShadow);
  background-color: var(--bgColor);
}

.header {
  color: var(--textColor);
  text-align: center;
}
