.notificationsContainer {
  min-width: 420px;
  background-color: var(--dark);
  position: absolute;
  top: 65px;
  right: 0px;
  padding: 15px;

  z-index: 100;

  background-color: var(--bgColor);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 10px var(--boxShadow);
}

.notificationItem {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.notificationTitle {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.notificationTime {
  font-size: x-small;
}

.unreadDot {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 8px;
}

.notificationHeader {
  display: flex;
  align-items: center;
}

.deleteButton {
  background: none;
  border: none;
  color: #888;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
}
.deleteButton:hover {
  color: red;
}

.notificationMessage {
  font-weight: 400;
  font-size: 12px;
}

.noNotificationsMessage {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  color: #888;
}
