.problems {
  margin: 10vh auto;
  padding: 5vh 0 10vh 0;
  border-radius: 40px;
  // background-color: var(--darkTransparent);
  background-size: cover;
  // box-shadow: 2px 2px 10px var(--boxShadow);
}

.problems_title {
  text-align: center;
  padding: 2vh;
  font-size: 2em;
  color: var(--bgColor);
}

.problems_text {
  font-size: 1em;
  color: var(--textColor);
  line-height: 1.5;
}

.s_items {
  display: grid;
  row-gap: 150px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);

  align-items: center;
  justify-items: center;

  grid-template-areas:
    "row1 man_01"
    "woman_01 row2"
    "row3 man_02"
    "woman_02 row4"
    "row5 man_03"
    "woman_03 row6";
}

.s_item {
  width: 80%;
  margin-bottom: 5vh;
  border-radius: 20px;
  display: flex;

  padding: 20px;
  background: var(--bgColor);

  position: relative;
}

.s_row1 {
  grid-area: row1;
}

.man_01 {
  grid-area: man_01;
}

.s_row2 {
  grid-area: row2;
}

.woman_01 {
  grid-area: woman_01;
}

.s_row3 {
  grid-area: row3;
}
.s_row4 {
  grid-area: row4;
}
.s_row5 {
  grid-area: row5;
}
.s_row6 {
  grid-area: row6;
}

.s_inner_title {
  font-size: 1.3em;
  color: var(--textColor);
  margin-top: 40px;
}

.s_number {
  position: absolute;
  top: -20px;
  left: -20px;

  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 6em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #d3d6d0, 1px 2px 1px #d3d6d0, 1px 3px 1px #d3d6d0,
    1px 4px 1px #d3d6d0, 1px 5px 1px #d3d6d0, 1px 6px 1px #d3d6d0,
    1px 7px 1px #d3d6d0, 1px 8px 1px #d3d6d0, 1px 9px 1px #d3d6d0,
    1px 10px 1px #d3d6d0, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.man_01,
.man_02,
.man_03,
.woman_01,
.woman_02,
.woman_03 {
  width: 60%;
  border-radius: 20px;
  height: auto;
}

@media (max-width: 1200px) {
  .s_items {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, min-content);

    grid-template-areas:
      "man_01"
      "row1"
      "woman_01"
      "row2"
      "man_02"
      "row3"
      "woman_02"
      "row4"
      "man_03"
      "row5"
      "woman_03"
      "row6";
  }
  .man_01,
  .man_02,
  .man_03,
  .woman_01,
  .woman_02,
  .woman_03 {
    width: 40%;
    border-radius: 20px;
    margin-top: 10vh;
  }
}

@media (max-width: 945px) {
  .man_01,
  .man_02,
  .man_03,
  .woman_01,
  .woman_02,
  .woman_03 {
    width: 55%;
    border-radius: 20px;
  }
}

@media (max-width: 660px) {
  .s_items {
    row-gap: 10px;
    align-items: flex-end;
  }

  .man_01,
  .man_02,
  .man_03,
  .woman_01,
  .woman_02,
  .woman_03 {
    margin: 0;
  }

  .problems_text {
    font-size: 0.9em;
    line-height: 1.5;
  }
}
