.filtersBar {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;

    > * {
      width: 100%;
    }
  }
}
