.VideoCallFeature {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-sizing: border-box;
  /* height: calc(100vh - 50px); */
}

.menu {
  position: absolute;
  /* top: 140px; */
  /* right: 0; */
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  z-index: 20;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border-radius: 8px;
  /* padding: 20px 20px; */
}

.separator {
  margin-left: 10px;
}

.menu_input {
  border: 1px solid var(--dark);
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}
