.indicatorContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  width: 100%;
  bottom: 0;
  padding-inline: 5px;
  box-sizing: border-box;
  margin-bottom: 1px;
}

.indicator {
  height: 4px;
  border-radius: 3px;
  flex: 1;
  flex-basis: 3px;
}
