.levels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: 16px;
}

.mainTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.subtitle {
  font-size: 1.125rem;
  color: #333;
  margin-bottom: 40px;
}

.wrap {
  padding: 16px;
  max-width: 240px;
  border: 1px solid var(--option-border-color);
  border-radius: 16px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  cursor: pointer;

  &:hover {
    background: #5666ed33;
  }
}

.wrap.selected {
  background: #5666ed22;
  border-color: #5666ed;
  box-shadow: 0 0 0 2px #5666ed55;
}

.wrap.selected .label {
  font-weight: 600;
  color: #202020;
}

.wrap.selected .title {
  color: #000;
}

.levelBtn {
  border: none;
  background: none;
  padding: 0;
}

.title {
  font-size: 12px;
  color: #161616;
  padding-top: 8px;
}

.label {
  font-size: 16px;
  text-align: left;
}
