.bookingFlowWrapper {
  // max-width: 760px;
  margin: 0 auto;
  // padding: 2rem;
  border-radius: 24px;
  // background: rgba(255, 255, 255, 0.75);
  // box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI", sans-serif;
  color: #1e3c3f;
  line-height: 1.6;
  // backdrop-filter: blur(6px);
  // border: 1px solid #dce3e4;
}

.boxHeader {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1f595c;
  margin-bottom: 1rem;
  text-align: center;
}

.boxPrimary {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f595c;
  margin-bottom: 1rem;
  text-align: center;
}

.or {
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
  color: #8aa2a5;
  font-weight: 500;
}

.boxSecondary {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: #2e6a6d;
  margin-bottom: 2rem;
}

.stepBox {
  background: #eef5f6;
  padding: 1.5rem;
  border-radius: 16px;
  margin-bottom: 1.5rem;
  border-left: 6px solid #42969b;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.8rem;
    color: #144e51;

    .stepNumber {
      font-weight: 700;
      color: #42969b;
      margin-right: 0.4rem;
    }
  }

  p {
    font-size: 1rem;
    color: #2e3d3f;
    margin: 0;
  }
}
