$borderColor: var(--dark);

.eventCard {
  background: var(--bgColor);
  border: 1px solid var(--darker);
  border-radius: 12px;

  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.ownEvent {
  border-color: orange; // highlight for own events
}

.imageWrapper {
  position: relative;
  min-width: 100%;
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center;
}

.eventDate {
  color: var(--textColor);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--textColor);
}

.description {
  font-size: 0.9rem;
  // color: var(--textSecondary);
  color: var(--textColor);
}

.startAndAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: var(--textColor);
  cursor: pointer;
}

.belt {
  padding: 5px;
  //   border: 1px solid $borderColor;
  //   border-radius: 25px;
}

.nickname {
  margin: 0 5px;
}

.startEndTime {
  font-size: 0.85rem;
  color: var(--textColor);
  display: flex;
}

.priceAndType {
  display: flex;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--darker);
}

.type {
  padding: 5px;
  margin: 10px;
  font-size: 0.85rem;
  border-radius: 8px;
  background-color: var(--darker);
  color: #fff;
}
