.mainContainer {
  background-color: #24222c;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;

  .headerContainer {
    // Styles for the header container, if needed
  }

  .contentWrapper {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;

    @media (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
      column-gap: 32px; /* Equivalent to md:space-x-8 */
    }

    @media (min-width: 1024px) {
      column-gap: 64px; /* Equivalent to lg:space-x-16 */
    }

    .sideMenu {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
