.title {
  color: var(--textColor);
}
.postAuthor {
  color: var(--textColor);
  display: flex;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
}

.avatarNav {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-right: 5px;
}

.postDate {
  font-size: 12px;
  color: var(--textColor);
}

.actionsSection {
  display: flex;
  justify-content: space-between;
  // font-weight: 300;
  color: var(--textColor);

  .clapsComments {
    display: flex;

    .claps,
    .comments {
      display: flex;
      margin-right: 20px;
      cursor: pointer;

      .smallBtn {
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
}

.iconProps {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray; /* Set the icon color to gray */
  transition: color 0.3s ease;

  &:hover {
    color: darkgray; /* Optional hover effect for icons */
  }
}

.container {
  // width: 100%;
  display: flex;
  color: var(--textColor);

  .imageWrapper {
    display: flex;
    // justify-content: center;
    align-items: center;

    > img {
      width: 50%;
      //   height: 27vh;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.content {
  color: var(--textColor);

  p > img {
    max-width: 300px;
  }
}

.authorActions {
  display: flex;
}

.actionItem {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 5px;
}

.confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

@media (max-width: 660px) {
  .actionsSection {
    flex-direction: column;
    gap: 10px;
  }
  .authorActions {
    width: 100%;
  }
}

