.dayRow {
  padding: 2px;
  color: grey;
  border-bottom: 1px solid var(--darkTransparent);
  font-weight: 100;
  cursor: pointer;

  display: flex;
}

.dayRowWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionBtns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.directRequestBox {
  font-size: 11px;
  display: flex;
}

.dayRowBtn {
  width: 30px;
  height: 30px;

  margin: 2px;
  padding: 0;
}

.dayRowBtnCancel {
  width: 30px;
  height: 30px;

  margin: 2px;
  padding: 0;
}

.smallHour {
  padding: 2px;
  font-size: 10px;
}

.busy {
  color: grey;
  background-color: none;
}

.busy:hover {
  color: var(--textColor);
}

.openForWork {
  color: #000;
  /* color: var(--bgColor); */
  background-color: lightblue;
  /* background-color: var(--dark); */
  border-radius: 5px;
  /* border-bottom: 1px solid var(--bgColor); */
}

.openText {
  padding-left: 7%;
}

.dayRow:hover {
  /* color: var(--bgColor); */
  background-color: rgb(198, 237, 250);
}

.dayRow:active {
  background-color: var(--darkest);
}

.psyRequest {
  font-weight: 500;
  background-color: var(--darker);
  cursor: default;
}

.psyRequest:hover {
  /* color: var(--textColor); */
  /* color: var(--text);
  background-color: var(--bgColor); */
}

.hourOfDay {
  color: var(--dark);
}

.subject {
  font-weight: 500;
  font-size: 14px;
  color: var(--darkest);
}

.paramsAndPrice {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.reqParams {
  /* position: absolute;
  top: -2px;
  left: 10px; */
  color: var(--darkest);
  font-size: 10px;
}

.isPastHour {
  opacity: 0.5;
  cursor: default;
}

.isPastHour:hover {
  background-color: var(--bgColor);
}

.dayRowBtn[disabled],
.dayRowBtn[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(100%);
  pointer-events: none; /* if your Button ignores disabled on wrapper */
}


.etc {
  width: 26px;
  height: 26px;
  font-size: 24px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
}
.etc:hover {
  background-color: var(--dark);
  border: 1px solid var(--dark);
  color: var(--bgColor);
}

.reqActions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 13px;
  right: 37px;
  margin: 15px 5px;
  background-color: var(--bgColor);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 6px 10px;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

.loader {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid var(--textColor);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
