.wrapper {
  min-width: 250px;
  // background-color: var(--dark);
  position: absolute;
  top: 65px;
  right: 0px;
  padding: 15px;

  z-index: 100;

  background-color: var(--bgColor);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 2px 10px var(--boxShadow);
}

.item {
  height: 20px;
  text-align: left;
  padding: 5px 20px;
  cursor: pointer;
  border: 1px solid rgb(143, 189, 143, 0);
  border-radius: 5px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--textColor);
}

.item:hover {
  color: var(--bgColor);
  background-color: var(--dark);
  border-radius: 5px;
}

.hidden {
  display: none;
}

.icon {
  margin-left: 10px;
}
