.wrapper {
  padding: 15px;
}

.header {
  margin-top: 5rem;
  color: var(--textColor);
  text-align: center;
}

.psy_contract_item,
.psy_contract_header,
.psy_contract_elem {
  color: var(--textColor);
}
