.Label {
  margin: 5px;
}

.formLabel {
  font-weight: bold;
  color: var(--dark);
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Input {
  width: 100%;
  /* width: 40vw; */
  min-height: 30px;
  padding: 7px 15px;
  font-size: large;
  border: 1px solid var(--darker);
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  /* background-color: var(--bgColor); */
  background-color: transparent;
  color: var(--textColor);
}

/* .Input:hover,
.Input:focus {
  background-color: var(--darkTransparent);
} */

.Input::placeholder {
  font-size: 16px;
  color: #c2c2c2;
}

.visuallyHidden {
  position: absolute;
  /* width: 1px; */
  /* height: 1px; */
  /* margin: -1px; */
  /* border: 0; */
  /* padding: 0; */
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
