.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modalOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bgColor);
    border-radius: 40px;
    padding: 40px;
    z-index: 1000;
}


.modalContent {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}

.penalty {
  color: #b90000;
  font-weight: bold;
  margin: 1rem 0;
}

.safe {
  color: green;
  font-weight: bold;
  margin: 1rem 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 1.5rem;
}
