.Button {
  width: 100%;
  padding: 15px 20px;
  /* margin: 10px; */
  font-size: 18px;
  background-color: var(--bgColor);
  border: 1px solid var(--dark);
  color: var(--dark);
  border-radius: 10px;
  transition-duration: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button:hover {
  color: var(--bgColor);
  background: var(--darker);
  border: 1px solid var(--darker);
}

.Button:hover .addonLeft svg,
.Button:hover .addonRight svg {
  color: var(--accent-redesigned);
}

.withAddon {
  padding: 0 16px;
}

.addonLeft,
.addonRight {
  display: flex;
}

.addonRight svg,
.addonLeft svg {
  color: var(--hint-redesigned);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.filled {
  background: var(--bgColor);
  border: 1px solid var(--dark);
  outline: none;
}

.outline {
  background: none;
  border-radius: 34px;
}

.outline:hover {
  border: 2px solid var(--accent-redesigned);
}
.outline.normal {
  border: 2px solid var(--icon-redesigned);
}
.outline.error {
  border: 2px solid var(--cancel-redesigned);
}
.outline.success {
  border: 2px solid var(--save-redesigned);
}

.circle {
  margin: 0;
  font-size: 14px;
  width: 100px;
  height: 100px;
  color: var(--textColor);
  border: 4px solid var(--dark);
  border-radius: 50px;
  position: absolute;
  right: 30px;
  top: 55px;
}

.circle_ring_ring {
  margin: 0;
  font-size: 14px;
  width: 100px;
  height: 100px;
  border: 1px solid red;

  border-radius: 50px;
}

.circle_ring_ring:hover {
  color: var(--bgColor);
  background-color: rgb(255, 165, 165);
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.profileBtn {
  padding: 3px 7px;
  font-size: 14px;
}

.dayRowBtn {
  width: 30px;
  padding: 3px 7px;
  font-size: 14px;
}

.tiny {
  border-radius: 5px;
  width: 60px;
  margin: 3px;
  padding: 3px 5px;
  font-size: 14px;
  font: var(--font-m-redesigned);
}

.s {
  padding: 5px 10px;
  font-size: 12px;
  font: var(--font-m-redesigned);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.fullWidth {
  width: 100%;
}

.cancel {
  border: 1px solid rgb(201, 97, 97);
}

.loginWithGoogle {
  width: 50%;
}

.cancel:hover {
  border: 1px solid rgb(201, 97, 97);
  background-color: rgb(255, 110, 110);
}

.backbtn {
  margin-right: 10px;
  border: 1px solid lightgrey;
  color: rgb(85, 85, 85);
}

.backbtn:hover {
  color: rgb(85, 85, 85);
  background-color: rgb(226, 226, 226);
  border: 1px solid gray;
}

.lang_btn {
  padding: 5px;
  width: 40px;
}

@media (max-width: 660px) {
  .Button {
    padding: 5px 7px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .Button {
    padding: 5px;
    font-size: 11px;
    /* height: 40px; */
    z-index: 4;
    position: relative;
  }
}
