.page {
  // margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;

  overflow-y: auto;
  overflow-x: hidden;
}

.landing {
  @media (max-width: 640px) {
    // margin-top: 20px;
    // overflow-y: hidden;
  }
}

.thereIsNoScroll {
  overflow-y: hidden;
}
